[submodule "abcdQuetion"]
	path = abcdQuetion
	url = git@github.com:KatsutoshiOtogawa/abcdQuetion.git
[submodule "react_example"]
	path = react_example
	url = git@github.com:KatsutoshiOtogawa/react_example.git
